<mat-card>
    <mat-card-header>
      <img mat-card-lg-image alt="photo" src="assets/marek.png">
    </mat-card-header>
    <mat-card-content>
      <div class="attribute">
        <span class="card-label">Nazwa użytkownika: </span> mario
      </div>
      <div class="attribute">
        <span class="card-label">Imię: </span> Marek
      </div>
      <div class="attribute">
        <span class="card-label">Nazwisko: </span> Kowalekowk
      </div>
      <div class="attribute"><button class="btn" (click)="finishAssistance()">Zakończ pomoc</button></div>
    </mat-card-content>
  </mat-card>