.center {
    text-align: center;
}

img {
    border-radius: 50%;
    margin: 1rem;
}

.mat-card {
    width: 40%;
    margin: 0 5%;
}

.mat-card-header {
    display: flex;
    justify-content: center;
}

.attribute {
    margin: 1rem;
}

.attribute:last-child {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 5%;
    background-color: rgb(96, 148, 96);
    transition: background-color .2s;
    width: 60%;
    height: 2.5em;
    border-radius: 20px;
    border: none;
}

.btn:hover {
    background-color: rgb(53, 121, 53);
    cursor: pointer;
}