<h1 mat-dialog-title>Czy chciałbyś pomóc ?</h1>
<mat-card>
  <mat-card-header>
    <img mat-card-lg-image alt="photo" src="assets/antek.jpg">
  </mat-card-header>
  <mat-card-content>
    <div class="attribute">
      <span class="card-label">Nazwa użytkownika: </span> antek123
    </div>
    <div class="attribute">
      <span class="card-label">Rodzaj potrzeby: </span>Pomoc zakupowa
    </div>
    <div class="attribute">
        <span class="card-label">Dodatkowy opis: </span>bla blab lab bla lbab lal ab aalbal bla blab aal balb lla al bal balb lab labl abla l abla ba
    </div>
  </mat-card-content>
</mat-card>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Nie</button>
  <button mat-button (click)="sendEmail()">Tak</button>
</div>

