<h1 mat-dialog-title>Czy chciałbyś pomóc ?</h1>
<mat-card>
  <mat-card-header>
    <img mat-card-lg-image alt="photo" src="assets/antek.jpg">
  </mat-card-header>
  <mat-card-content>
    <div class="attribute">
      Imię: {{data.assistance.creatorName}}
    </div>
    <div class="attribute">
      Rodzaj potrzeby: {{data.assistance.disabilityType}}
    </div>
    <div class="attribute">
      Dodatkowy {{data.assistance.helpType}}
    </div>
  </mat-card-content>
</mat-card>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Nie</button>
  <button mat-button (click)="sendEmail()">Tak</button>
</div>

