.form-group {
    width: 90%;
    margin: 20px auto;
}

.mat-form-field {
    width: 90%;
    height: 50px;
}

label {
    padding: 2% 0;
}

input {
    padding: 2% 0;
    font-size: 1.5em;
    border-bottom: 2px solid rgb(255, 205, 66);
    border-radius: 5px;
}

.formGroup > input, textarea {
    border-bottom: 2px solid rgb(255, 205, 66);
    border-radius: 5px;
    font-size: 1.5em;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.help-button {
    margin-left: 5%;
    background-color: rgb(96, 148, 96);
    transition: background-color .2s;
    width: 30%;
    height: 2em;
    border-radius: 20px;
    font-size: 1.5em;
}

.help-button:hover {
    background-color: rgb(53, 121, 53);
}