<app-header></app-header>
<div class="assistance-map-container">
  <div class="map-container">
    <agm-map [latitude]=lat [longitude]=lng (boundsChange)="showBoundaries($event)"
             [scrollwheel]="true" [minZoom]="5" [mapDraggable]="false">
      <agm-marker [latitude]="lat" [longitude]="lng">

      </agm-marker>
      <span *ngFor="let assistance of assistances">
          <agm-marker *ngIf="assistance.assistant == undefined" [latitude]="assistance.latitude" [longitude]="assistance.longitude" (markerClick)="show(assistance)" iconUrl="assets/not_my_point_small.png"></agm-marker>
          <agm-marker *ngIf="assistance.assistant != undefined" [latitude]="assistance.latitude" [longitude]="assistance.longitude" (markerClick)="showAssistanceDetails(assistance)" iconUrl="assets/progress_point_small.png"></agm-marker>
      </span>
    </agm-map>
  </div>
  <div class="right-container">
    <div class="plus-button-container">
      <button mat-raised-button class="plus-button" color="primary" (click)="openHelpForm()"><i class="material-icons">
          add
        </i></button>
    </div>
    <app-user-card></app-user-card>
  </div>
</div>
<app-help-dialog></app-help-dialog>