<div class="assistance-map-container">
  <div class="map-container">

    <agm-map [latitude]=lat [longitude]=lng (boundsChange)="showBoundaries($event)" [zoom]="12">
      <agm-marker latitude="52.232222" longitude="21.008333" (markerClick)="show()">
      </agm-marker>
    </agm-map>
  </div>
  <div class="right-container">
    <div class="plus-button-container">
      <button mat-raised-button class="plus-button" color="primary"><i class="material-icons">
        add
      </i></button>
    </div>
  </div>
</div>
